body{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),url("../images/backgroundImage.jpg");
    background-size: cover;
}

#loginForm{
    position: absolute;
    width: 428px;
    height: 428px;
    background: #F5F5F5;
    border-radius: 25px;
    left: calc(50% - 428px/2);
    top: calc(50% - 428px/2);
    text-align: center;
}
#logo{
    width: 100px;
    height: 100px;
}
#form input{
    margin-bottom: 20px;
    margin-top: 10px;
    width: 278px;
    height: 42px;
    background: #D9D9D9;
    border-radius: 10px;
    border-style: solid;
}

#login{
    width: 186px;
    height: 42px;
    background: #174E80;
    border: 1px solid #000000;
    color: #F5F5F5;
    border-radius: 10px;
}

p{
    left:150px;
    top: 400px;
}
a{
    color: darkred;
}