
.main-container{
    display: flex;
}
.content{
    margin-left: 50px;
    flex-grow:1;
}

.rectangle{
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
}
.design{
    width: 90%;
    height: 47px;
    color: black;
    background-color: white;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 10px;
}
.designDetails{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 470px;
    border-radius: 25px;
    padding: 10px;

}
.designDetails h2{
    flex: 0 0 100%;
    text-align:center;
}
.designDetails h3{
    font-weight: bold;
    font-size: medium;
}
.set{
    flex: 0 0 100%;
    margin-bottom: 20px;
}
.designDetails h3, p{
    margin: 0;
    display: inline;
}
form{
    display: inline;
}
#uploadFile {
    background-color:#D9D9D9;
    border-radius: 5px;
}
#description{
    width: 300px;
    height: 100px;
    background-color:#D9D9D9;
    border-radius: 5px;
}
.form-row{
    display: block;
    margin-bottom: 30px;
}
#submit{
    width: 186px;
    height: 30px;
    text-align: center;
    background: #174E80;
    border: 1px solid #000000;
    color: #F5F5F5;
    border-radius: 10px;
    margin-left: 150px;
}